#cart-container {
    padding: 2rem;
}

#cart-container .cart-container-header {
    margin: 0 0 1.5rem 0;
}

#cart-container  h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

#cart-container .cart-items-container {
    height: auto;
    width: 62%;
    background-color: aqua;
}

#cart-container .cart-item-card {
    height: 25vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#cart-container .card-image-container {
    width: 30%;
    height: 100%;
    overflow: hidden;
}

#cart-container .card-image {
    width: 100%;
    height: 120%;
}

#cart-container .cart-item-body {
    width: 65%;
    border: 1px solid red;
}

#cart-container .cart-item-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#cart-container .cart-summary-container {
    width: 36%;
    background-color: rgb(0, 47, 255);

}
