nav {
    font-family: Poppins;
    background-color: #202938;
    padding: 1rem;
    color: white;
  }
  
  .navbar-collapse {
    text-align: center;
  }
  
  nav a {
    margin: 0.5rem;
  }
  
  nav a:hover{
    text-decoration: underline;
    color: black;
  }
  
  nav input {
    margin: 0.5rem;
  }

  
  nav button {
    margin: 0 0.8rem 0 0;
  }

  nav form button {
    margin: 0.5rem 0.5rem 0.5rem 0rem;
  }

  nav form input {
    margin: 0.5rem 0rem 0.5rem 0.5rem;
  }

.accordion-item button {
  font-size: 0.9rem;
}

.category-links {
  text-decoration: none;
  color: grey;
  font-size: 12px;
}

.category-links:hover {
  text-decoration: underline;
  color: black;
}

.product-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.cardWidth{
    width: 22vw;
    margin-bottom: 2rem;
    max-height: 100%;
}

.card-text{
    margin: 0 0 1rem 0;
    color:rgb(125, 124, 124);
    font-size: 0.9rem;
}

.card-image-container{
    overflow: hidden;
}

.card-title{
    font-size: 1.1rem;
}

.card-title a {
    color: black;
    text-decoration: none;
}

.card-image:hover{
    transform: scale(1.1);
    opacity: 0.8;
    transition: transform .3s;
}

.card-btn {
  color: #311b92;
  background-color: white;
  border: 1px solid #311b92;
  transition-duration: 0.4s;
  height: 2.5rem;
}

.card-btn:hover {
  color: white;
  background-color: #311b92;
}

.btn-fill {
  color: white;
  background-color: #311b92;
  border: 1px solid #311b92;
  transition-duration: 0.4s;
  height: 2.5rem;
  width: 10rem;
}

.btn-fill:hover {
  color: #311b92;
  background-color: white;
  border: 1px solid #311b92;
}

.btn-outline {
  color: #311b92;
  border: 1px solid #311b92;
  text-decoration: none;
  background-color: white;
  padding: 0.5rem;
  transition-duration: 0.4s;
}

.btn-outline:hover {
  color: white;
  background-color: #311b92;
  border: 1px solid #311b92;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 22px;
  height: 24px;
  border: 0;
  border-radius: 50%;
  background-image: url('./check-circle.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor:default;
}

.progress {
  background-color: #311b924e;
  border: 1px solid #311b9281  
}

.progress .progress-bar {
  background-color: #311b92;
}

.active-steps input[type=range]::-webkit-slider-runnable-track {
  background-color: #311b924e;
  border: 1px solid #311b9281
}

.active-steps input[type=range]::-webkit-slider-thumb {
  background-color: #311b92;
}

.text-indigo {
  color: #311b92;
}

footer a {
  color: black;
}

footer a:hover{
  color: grey;
}

@media (max-width: 992px) {
    .cardWidth{
        width: 28vw;
    }
}

@media (max-width: 768px) {
    .cardWidth{
        width: 30vw;
    }
}

@media (max-width: 576px) {
    nav .logo{
        font-size: 2rem;
        margin: 0 1rem 0 1rem;
      }

    .cardWidth{
        width: 40vw;
    }

    .bi{
        font-size: 1.2rem;
    }
}

@media (max-width: 424px) {
    .cardWidth{
        width: 80vw;
    }
}